<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Decision Engines {{ title }}!
  </h1>
<h2>Save Employee: </h2>
<!-- Full Name -->
        <div class="form-group">
            <label for="fullName" class="control-label">Full Name:</label>
            <div class="control">
                <input
                    id="fullname"
                    name="fullName"
                    class="form-control"
                    type="text"
                    ng-model="user.fullName"
                    required
                >
            </div>
            <p class="reset">
                <button ng-click="myForm.fullName.$setPristine()">Save This Field</button>
            </p>
        </div>
